{% extends 'layout.html' %}
{% block title %}
  {{ titulo }}
{% endblock %}

<!-- Comentario en HTML -->
{% block content %}
  <h1 class="title">{{ titulo }}</h1>
  {% if messages %}
    {% for message in messages %}
      <div class="message">{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% for curso in cursos %}
    <div class="curso-item">
      <div class="data">
        <h2>{{ curso.name }}</h2>
        <span class="date">Código: {{ curso.code }}, Horas: {{ curso.hour }}, Créditos: {{ curso.credits }}</span>
        {% if curso.state %}
          <strong>Habilitado</strong>
        {% else %}
          <strong>Deshabilitado</strong>
        {% endif %}
        <p>
          <!-- Aquí puedes agregar más detalles si es necesario -->
          <a href="{% url 'eliminar_curso' id=curso.idcourse %}" class="btn btn-delete">Eliminar</a>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  {% endfor %}
{% endblock %}
